.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MainPage desktop*/
#MainWrapper {
  width: 1440px;
  height: 1024px;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(255, 255, 253, 0) 0%, rgba(255, 148, 70, 0.77824) 97.28%, rgba(255, 145, 64, 0.8) 100%), #ffffff;
  background-size: 1440px 1024px;
  border: 0px;
}

#MainWrapper #introTextWrapper {
  position: absolute;
  width: 814px;
  height: 288px;
  left: 111px;
  top: 197px;
}
#MainWrapper p {
  /* “캣치헬스는 반려동물에게 흔히 발생하는 ㅇㅇㅇ,xxx등의 질병을 사진 한장의 업로드를 통하여 신속히 진단하고, 해당 질병의 예상되는 진료비와 바로 접근 가능한 병원의 정보를  제공하는 서비스입니다. 불필요한 병원 내원으로 인한 비용 발생을 줄이고 효과적으로 진단받아 내가 아끼는 동물이 더이상 고통받지 않게 해주세요 !” */

  font-family: "Pretendard-Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 48px;
  /* or 185% */
  letter-spacing: 0.05em;

  color: #000000;
}

#MainWrapper #startButton {
  position: absolute;

  width: 247px;
  height: 81px;
  left: 119px;
  top: 536px;
  background: #ff7816;
  border-radius: 50px;
  border: 0px;
  /* 시작하기  */

  font-family: "Pretendard-Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 28px;

  color: #ffffff;
}

#MainWrapper #catTower {
  position: absolute;
  width: 451px;
  height: auto;
  left: 927px;
  top: 283px;
}

#MainWrapper #defaultProfile {
  position: absolute;
  width: 79px;
  height: 79px;
  right: 29px;
  top: 20px;
}

/* Main page mobile */
#MobileMainWrapper #introTextWrapper {
  position: absolute;
  width: 334px;
  height: 306px;
  left: calc(50% - 334px / 2 - 0.5px);
  top: 126px;
}
#MobileMainWrapper p {
  font-family: "Pretendard-Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #000000;
}
#MobileMainWrapper #mobileDefaultProfile {
  position: absolute;
  width: 50%;
  height: 30px;
  left: 320px;
  top: 19px;
}
#MobileMainWrapper #startButton {
  position: absolute;
  width: 194px;
  height: 63.62px;
  left: calc(50% - 194px / 2 - 0.5px);
  top: 475px;

  background: #ff7816;
  border-radius: 50px;

  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  border: 0px;

  color: #ffffff;
}
#MobileMainWrapper #cat {
  position: absolute;
  width: 168px;
  height: 158px;
  left: 225px;
  top: 598px;
}

/*MainInput page*/
#MainInputInfoWrapper {
  width: 1440px;
  height: 1024px;

  background: linear-gradient(180deg, rgba(255, 255, 253, 0) 0%, rgba(255, 148, 70, 0.77824) 97.28%, rgba(255, 145, 64, 0.8) 100%), #ffffff;
  background-size: 1440px 1024px;
  border: 0px;

  font-family: "Pretendard-Regular";
  font-style: normal;
}

#MainInputInfoWrapper h1 {
  /* 애완동물의 이름을 입력해 주세요. */

  position: absolute;
  width: 703px;
  height: 167px;
  left: 369px;
  top: 264px;

  font-weight: 700;
  font-size: 50px;
  line-height: 61px;

  color: #000000;
}

#MainInputInfoWrapper p {
  /* 이전에 이미 검사하셨던 기록이 있어도 이전과 같이 입력해 주세요 ! */
  position: absolute;
  width: 732px;
  height: 85px;
  left: 354px;
  top: 483px;

  font-weight: 500;
  font-size: 30px;
  line-height: 36px;

  color: #000000;
}
#MainInputInfoWrapper #diagnoseButton {
  position: absolute;
  width: 265.92px;
  height: 87.2px;
  left: 587px;
  top: 650px;

  background: #ff7816;
  border-radius: 50px;
  border: 0px;

  /* 진단받기 */
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;

  color: #ffffff;
}

#MainInputInfoWrapper #nameInput {
  box-sizing: border-box;

  position: absolute;
  width: 768px;
  height: 115px;
  left: 336px;
  top: 345px;

  background: #ffffff;
  border: 3px solid #000000;
  border-radius: 50px;
}

#MainInputInfoWrapper #nameInput[type="text"]::placeholder {
  /* 이름을 입력해주세요 */
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #bfbfbf;
}
#MainInputInfoWrapper #nameInput[type="text"] {
  padding-left: 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
}
